.text-inputs {
  width: 200px;
}

.all-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-style {
  width: 208px;
}

.table-header {
  display: flex;
  justify-content: start;
}

.col-fname { width: 150px; }
.col-lname { width: 250px; }
.col-dob { width: 110px; background-color: aqua;}
.col-email { width: 250px; }
.col-gender { width: 200px; }
.col-country { width: 200px; }