.text-inputs {
  width: 200px;
}

.all-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-style {
  width: 208px;
}

.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}