.text-inputs {
  width: 200px;
}

.all-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-style {
  width: 208px;
}

.table-header {
  display: flex;
  justify-content: start;
  margin-bottom: 5px;
  margin-top: 10px;
}

#table-header {
  border-bottom: 1px solid black;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.col-fname { width: 150px; }
.col-lname { width: 250px; }
.col-dob { width: 110px; }
.col-email { width: 250px; }
.col-gender { width: 200px; }
.col-country { width: 200px; }
.button-update-container { width: 70px; }
.button-delete-container { width: 70px; }

.delete-all-btn {
  margin-top: 8px;
}